
<form class="d-flex" *ngIf="cartItems">
<div class="dropdown">
  <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi-cart-fill me-1"></i>
    Sepetim

  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngFor="let items of cartItems"><a class="dropdown-item"><img src="assets/img/{{items.product.imgId}}.jpg">---{{items.product.productName}}---{{items.product.unitPrice}}</a>
    <span class="badge bg-dark text-white ms-1 rounded-pill">{{items.quantity}}</span></li>
    <li><hr class="dropdown-divider"></li>
    <button type="button" class="btn btn-outline-primary mt-auto ms-4">Sepet Detay</button>
  </ul>
</div>
</form>
