<div class="container px-4 py-5" id="custom-cards">

  <h2 class="pb-2 border-bottom">Sepetim</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-3 py-5">
    <form *ngFor="let items of shoppingItems$ | async">
      <div class="col divheight">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
          <img src="/assets/img/{{items.shopImgId}}.jpg" class="img-fluid">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="display-4 lh-1 fw-bold">{{items.shopName}}</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <label  class=" col-form-label">Fiyat:{{items.shopUnitPrice}}TL</label>
            </ul>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
