<ul class="list-group">
  <li class="list-group-item"><a routerLink="shop" class="list-group-item list-group-item-action">Tabak</a></li>
  <li class="list-group-item"><a routerLink="shop" class="list-group-item list-group-item-action">Bardak</a></li>
  <li class="list-group-item"><a routerLink="shop" class="list-group-item list-group-item-action">Kaşık</a></li>
  <li class="list-group-item"><a routerLink="shop" class="list-group-item list-group-item-action">Bıçak</a></li>
  <li class="list-group-item"><a routerLink="shop" class="list-group-item list-group-item-action">Çatal</a></li>
</ul>
