

  <div class="container px-4 py-5" id="custom-cards">

    <h2 class="pb-2 border-bottom">Mağaza</h2>
      <form class="d-flex ms-5">
        <input class="form-control me-2" type="text"  id="filterText" placeholder="Arama..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Ara</button>
      </form>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-3 py-5">
      <form *ngFor="let product of products ">
  <div class="col divheight">
    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
      <img src="/assets/img/{{product.imgId}}.jpg" class="img-fluid">
      <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
        <h2 class="display-4 lh-1 fw-bold">{{product.productName}}</h2>
        <p><font face="tahoma" size="3" color="maroon">
          <b>Stok :{{product.unitsInStock}}</b></font></p>
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <button type="button" (click)="addToCart(product)" class="btn btn-outline-light mt-auto">Sepete Ekle</button>
          </li>
          <label  class=" col-form-label">Fiyat:{{product.unitPrice}}TL</label>
        </ul>
      </div>
    </div>
  </div>
      </form>

    </div>
  </div>

